```
# Build artifacts
brain-battle-hub/artifacts/

# Dependencies
node_modules/
.bracket_server/
.jscad/
.julia/
.jupyter/
.kitchen/
.kotlin/
.kube/
.lerna/
.lib/
.libs/
.lint/
.lint-staged/
.log/
.logs/
.mypy_cache/
.napa-cache/
.ncf/
.next/
.node-gyp/
.nodemon/
.npm/
.npmrc/
.nyc_output/
.pdm-build/
.pdm-python/
.php_cs.cache/
.phpdoc/
.phpunit.result.cache/
.pip/
.pip-tools/
.pipcache/
.pipenv/
.plastic/
.platform/
.playground/
.pnp.cjs
.pnp.loader.mjs
.pnp/
.postcss-cache/
.pre-commit-config.yaml.swp
.prettierignore
.preview/
.primer/
.private/
.projen/
.properties
.proxy/
.psdraft/
.psg/
.psp/
.psql_history
.pst/
.pub/
.publishrc
.pug-cache/
.pulumi/
.purgecss/
.pwa/
.pycache/
.pyre/
.pytest_cache/
.qbs/
.qmake.cache
.qmake.stash
.qqestore/
.rakeTasks
.rbenv-gemsets
.rbenv-vars
.rbenv-version
.rbenv-default-gems
.rbenv
.rebar
.rebar3
.release-it.json
.remarkrc
.repl_history
.repo-metadata.json
.requirements.bak
.rescriptignore
.restyled-cache/
.revision-manifest.json
.rls_avoid_io
.ropeproject/
.rspec
.rslib/
.rsync-filter
.rts2_cache_c/
.run/
.rultor.yml
.sass-cache/
.scala_dependencies
.scalafmt-cache
.scalafmt.conf
.scalastyle.conf
.scrapy
.scripts/
.sencha/
.serverless/
.sessions/
.set/
.settings/
.sh/
.shellcheckrc
.ship/
.shpec
.shuttle/
.sidekiq/
.sigil/
.signing/
.simulator/
.site/
.size-limit/
.slack/
.sln
.sm/
.smileys/
.snap/
.snapcraft/
.snippets/
.snyk/
.soft/
.solargraph/
.solhintcache
.sort/
.sourcery/
.spacemacs.d/
.spacemacs
.spade/
.spack/
.speech/
.spellcheckerrc
.spellcheckerrc.json
.spotless/
.spotless/
.spotter/
.spyderproject
.spyproject/
.sqlx/
.sqlite_history
.src/
.srcvars
.ssh/
.stack-work/
.staged/
.stamp/
.standalone/
.stash/
.stat/
.static/
.stats/
.statuses/
.stestr/
.stickler.yml
.style/
.styleci.yml
.stylelintcache
.stylus-cache/
.sublime-project
.sublime-workspace
.subversion/
.sucrase/
.sudo_as_admin_successful
.suites/
.sum/
.svn/
.swiftlint.yml
.swcrc
.swiftpm/
.swiftlint/
.swp
.sycli/
.symlinks/
.sync/
.synth/
.system/
.tab/
.tag/
.tags
.target/
.tauri/
.temp/
.template-lintrc.js
.templates/
.temporaryitems
.tern-port
.tern-project
.test*
.test-tf
.testcoverage/
.testem.yml
.tests/
.texlipse
.textlintrc
.theme/
.thumbs
.timeout/
.tm_properties
.tmux/
.tmp/
.tmux/resurrect/
.tmuxinator/
.tmuxinator.log
.tns/
.to/
.tobago/
.todo/
.tokei/
.tokens/
.toml/
.tool-versions
.tools/
.tortoisecache
.trailpack-cache/
.trash/
.travis.yml
.tree/
.treeherder/
.trillian/
.triton/
.truffle/
.trunk/
.ts_build/
.tsconfig.json.swp
.tsfmt.json
.tsnode.tsbuildinfo
.tspartials/
.tsx_cache/
.ttfcache
.turbo/
.tvm/
.tx/
.txt/
.type/
.types/
.typescript/
.typings/
.typo3/
.uberfire/
.uncrustify/
.unison/
.unixtime
.url/
.user.ini
.users/
.vagrant/
.vapor/
.venv/
.verb.md
.verbrc.md
.verification/
.verify/
.vercel/
.ves/
.vex/
.vgextensions/
.vim/
.viminfo
.vimrc
.virtual_documents/
.virtualenvs/
.vis/
.visit/
.visitor/
.visualizer/
.vm/
.volta/
.volta/
.vs/
.vscode/
.vsixgallery/
.vuepress/
.wafpickle-7/
.wait/
.wallaby/
.watchmanconfig
.watchr
.web-pack/
.webassets-cache
.webdriverio/
.webpack/
.webpackrc.js
.weechat/
.well-known/
.west/
.wget-hsts
.whitesource/
.wifi/
.wiki/
.wind/
.windows/
.wireit/
.wirerc.json
.wkhtmltoimage
.wkhtmltopdf
.wombat/
.wordlist/
.work/
.workbox/
.workspace/
.world/
.wpilib/
.wpscan/
.wrench/
.ws/
.wsllib/
.wurst/
.wycheproof/
.x-formation/
.xauthority
.xcodeproj/
.xcos/
.xhttp/
.xml/
.xpi/
.xsession-errors
.yalc/
.yamllint
.yardoc/
.yarn/
.yaspeller.json
.ycm_extra_conf.py
.yield/
.yo-rc.json
.yotta/
.yt/
.zcompdump
.zcompdump-
.zd/
.zef/
.zig/
.zipkin/
.zsh/
.zsh_history
.zshrc
.zuul/
```